body {
  background: #ccc; }

p {
  color: #ccc; }

body {
  font-size: 66.45%; }

#form-register input span {
  color: chartreuse; }

#form-register input {
  font-size: 1rem; }

#form-register input {
  font-size: 3rem; }
  #form-register input span {
    color: chartreuse; }

input {
  font-size: 6rem; }
