@mixin font-size($size) {
	-webkit-font-size: $size;
	-moz-font-size: $size;
	-ms-font-size: $size;
	font-size: $size;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
// Browser Prefixes
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}
// Rotate
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}
// Translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
//Translate 3D
@mixin translate3d ($x, $y, $z) {
	@include transform(translate3d($x, $y, $z));
}
// Transform Origin
@mixin transform-origin ($origin) {
	-webkit-transform-origin: $origin;
	-moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	transform-origin: $origin;
}
 // for select
 @mixin appearance($value){
 	-webkit-appearance: $value;
 	-moz-appearance: $value;
 	appearance: $value;
 }
